<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./blog.css" />
  <title>BlogWebsite</title>
</head>
<body>
  <div class="wrapper">
    <!-- Navigation Top Icons-->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="./blog.html">Home</a>
        </li>
        <li>
          <a href="./about.html">About</a>
        </li>
        <li>
          <a href="./projects.html">Projects</a>
        </li>
        <li>
          <a href="mailto:hector323@gmail.com">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Top Container main showcase -->
    <section class="top-container">
      <header class="showcase">
        <h1>Hector Salgado</h1>
        <br>
        <p>Hello world! Welcome to my coding journey.</p>
      </header>
      <div class="top-box top-box-a">
        <img src="./docs/my_pic3.jpg" class="img"/>
      </div>
      <div class="buttons">
          <p>
              <a href="https://www.linkedin.com/in/hector-salgado-8948a296" target="_blank" class="btn btn-red btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
              <a href="https://github.com/hector323" target="_blank" class="btn btn-red btn-lg"><i class="fab fa-github"></i> GitHub</a>
              <a href="https://medium.com/@hector323" target="_blank" class="btn btn-teal btn-lg"><i class="fab fa-medium"></i> Medium</a>
              <a href="https://twitter.com/hectorsalgado01" target="_blank" class="btn btn-red btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
          </p>
      </div>
    </section>